.task {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  padding: 16px;
  margin: 12px 0;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.623);
  transition: background-color 0.3s ease;
}

.task:hover {
  background-color: #2a2a2a;
}

.taskCheck {
  margin-right: 16px;
}

.taskInfo {
  flex-grow: 1;
  min-width: 0;
}

.taskInfoTitle {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.taskInfoDescription {
  margin: 4px 0 0;
  font-size: 0.9rem;
  color: #bbb;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.taskInfoTitleInput,
.taskInfoDescriptionInput {
  margin-bottom: 8px;
}

.taskActions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconIsDone {
  color: #757575 !important;
}

.iconIsNotDone {
  color: #fff !important;
}
